fastapi
uvicorn
google-genai
python-dotenv
pypdf
xhtml2pdf
python-multipart
pydantic
pydantic-settings
sqlalchemy
pdfplumber
psycopg2-binary
python-jose
bcrypt=4.0.1
passlib[bcrypt]==1.7.4
email-validator